html {
  background-color: #F8F9FA;
}

.introlytics {
  color: #444444;
  background-color: #F8F9FA;

  * {
    font-family: Poppins;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: '>';
  }

  .button {
    svg + .text {
      margin-left: 10px;
    }
  }

  .dropdown-toggle {
    display: flex;
    align-items: center;

    &::after {
      margin-left: 10px;
      content: ">";
      transform: rotate(90deg);
      border: none;
    }
  }

  header {
    .info,
    .info a {
      color: white;
    }

    .breadcrumb {
      padding: 0;
      justify-content: flex-end;
      background: none;

      a,
      .active,
      ::before {
        color: white;
      }

      li:not(.active) {
        opacity: 0.6;

        a {
          text-decoration: none;
        }

        &:hover {
          color: white;
          opacity: 1;
        }
      }  
    }

    &.primary {
      background-color: white;
      padding: 10px;

      .navbar {
        padding: 0;

        .nav-link:last-child {
          padding-right: 0;
        }
      }

      .logo {
        display: flex;
        align-items: center;

        .symbol {
          width: 40px;
          height: 40px;
        }

        .logotype {
          color: #377dff;
          font-size: 30px;
          font-weight: 700;
          margin-left: .5rem;

          small {
            font-size: 15px;
            font-weight: 400;
            vertical-align: top;
          }
        }
      }
    }

    &.secondary {
      background-color: #377DFF;
      padding: 30px 10px 25px 10px;

      .navbar {
        margin-top: 40px;
        padding: 0;

        .dropdown:first-child .dropdown-toggle {
          padding-left: 0;
        }

        .nav-link:last-child {
          padding-right: 0;
        }

        .dropdown-toggle,
        .dropdown-toggle:focus,
        .nav-link {
          padding: 0 15px;
          color: white;
          opacity: 0.6;

          &:hover {
            color: white;
            opacity: 1;
          }
        }
      }
    }
  }

  section.body {
    padding: 60px 0;
  }

  th {
    &.sortable {
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }

      &::after {
        transition: transform 0.25s, opacity 0.25s;
        position: absolute;
        margin-left: 10px;
        content: ">";
        transform: rotate(90deg);
        opacity: 0;
      }

      &.desc::after {
        transform: rotate(-90deg);
      }

      &:hover::after,
      &.sorting::after {
        opacity: 1;
      }
    }
  }
  
  .pagination {
    justify-content: center;
    color: black;

    .page-item {
      li, a {
        height: 38px;
        display: flex;
        align-items: center;

        span {
          font-size: 25px;
        }
      }
    }

    .dropdown {
      button {
        background-color: transparent;
        border: 1px solid #dee2e6;
        border-radius: 0;
        border-left: none;
        border-right: none;
        color: black;
        height: 38px;
        padding: 0 20px;
      }

      .dropdown-toggle {
        color: #007bff;
      }

      .dropdown-menu {
        min-width: 0;
      }
    }

    .prev .page-link::before {
      content: "<";
    }
    .next .page-link::before {
      content: ">";
    }

    .page-link {
      span[aria-hidden="true"] {
        display: none;  
      }
    }
  }
}